@if (KDS.Infraestructure.CrossCutting.Helpers.AppContext.Exists)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hola " + KDS.Infraestructure.CrossCutting.Helpers.AppContext.Sesion.UserName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">        
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", new { Area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
